<div class="item">
    <div>Recipe name</div>
    <input type="text" name="title" value="{{ item.title }}">
</div>

<div class="item">
    <div>Recipe image</div>
    <input type="url" name="image" value="{{ item.image }}" ">
</div>

<div class="item">
    <div>Author</div>
    <input type="text" name="author" value="{{ item.author }}">
</div>

<div class="item" id="ingredients">
    <div>Ingredients</div>
    {% for ingredient in item.ingredients %}
        <div class="ingredient">
            <input type="text" name="ingredients[]" value="{{ingredient}}"/>
        </div>
    {% endfor %}
    <div class="ingredient">
        <input type="text" name="ingredients[]"/>
    </div>
</div>
<button type="button" class="add-ingredient">Add Ingredient</button>

<div class="item" id="steps">
    <div>Steps</div>
    {% for prep in item.preparation %}
        <div class="step">
            <input type="text" name="preparation[]" value="{{ prep }}"/>
        </div>
    {% endfor %}
    <div class="step">
        <input type="text" name="preparation[]"/>
    </div>
</div>
<button type="button" class="add-step">Add Step</button>

<div class="item">
    <div>Additional Information</div>
    <input type="text" name="information" value="{{item.information}}">
</div>


<button class="submit-button" type="submit">Submit</button>

{% include "admin/additem.njk" %}