{% extends "consumer/layout.njk" %}

{% block head %}
    <title>Recipes - Foodfy</title>
{% endblock head %}

{% block content %}
    <section class="cards">
        {% for recipe in recipes %}
        <a href="/recipes/{{recipe.id}}">
                <div class="card" >
                    <div class="card_image">
                        <img src="{{ recipe.image }}" alt="{{ recipe.title }} imagem">
                    </div>
                    <div class="card_info">
                        <p class="card_title">{{ recipe.title }}</p>
                        <p class="card_author">by
                            {{ recipe.chef_name }}</p>
                    </div>
                </div>
        </a>
        {% endfor %}
    </section>

    <script src="/scripts.js"></script>
{% endblock content %}