{% extends "consumer/layout.njk" %}

{% block head %}
    <title>{{recipe.title}}
        - Foodfy</title>
{% endblock head %}

{% block content %}
    <div class="recipe_image">
        <img src="{{ recipe.image }}" alt="{{ recipe.title }} image">
    </div>
    <div class="recipe_info">
        <p id="recipe_title">{{ recipe.title }}</p>
        <p id="recipe_author">by
            {{ recipe.chef_name }}</p>
    </div>

    <div class="details">
        <div class="detail_container">
            <div class="detail_title">
                <h1>Ingredients</h1>
                <a href="#" class="buttons">Hide</a>
            </div>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ingredient}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="detail_container">
            <div class="detail_title">
                <h1>Preparation mode</h1>
                <a href="#" class="buttons">Hide</a>
            </div>
            <ul>
                {% for step in recipe.preparation %}
                    <li>{{step}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="detail_container">
            <div class="detail_title">
                <h1>Additional Information</h1>
                <a href="#" class="buttons">Hide</a>
            </div>
            <ul>
                {{ recipe.information }}
            </ul>
        </div>

        <script src="/scripts.js"></script>

    </div>
{% endblock content %}