<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block head %}
            <title>Foodfy</title>
        {% endblock head %}
    </head>

    <body>
        <header class="admin_header">
            <div>
                <a class="links admin" href="/">
                    <img src="/assets/logo-light.png" alt="Image">
                </a>
                <div>
                    <a class="links admin" href="/admin/recipes">Recipes</a>
                    <a class="links admin" href="/admin/chefs">Chefs</a>
                </div>
            </div>
        </header>

        {% block content %}{% endblock content %}
    </body>
</html>