@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #6558C3;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

header {
    max-width: 940px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 3fr;
    margin: 38px auto 36px;
    position: relative;
    align-items: center;
}

.links {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #111111;
}

header .links.active {
    font-weight: bold;
}

/* === MAIN === */

main {
   margin: 30px auto; 
   background-color: #FBDFDB;
   max-width: 940px;
   height: 366px;
   position: relative;
   border-radius: 30px;
   position: relative
}

.main_container {
    max-width: 50%;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute
}

.main_container h1 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 10px
}

.main_container p {
    font-size: 18px;
    line-height: 28px;
    max-width: 400px;
    margin: 0;
}

.main_image img {
    position: absolute;
    bottom: 0;
    right: 100px;
}

/* === SECTION === */

#most_accessed {
    width: 940px;
    font-size: 24px;
    line-height: 28px;
    margin: 0 auto;
}

.cards {
    margin: 50px auto;
    max-width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    cursor: pointer;
}

.card_image img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.card_info {
    margin-top: 20px
}

.card_title {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #111111;
}

.card_author, .total_recipes {
    font-size: 14px;
    line-height: 16px;

    margin-top: 5px;

    color: #777777;
}

/* === MODAL === */

.modal_overlay {
    background-color: rgba(0, 0, 0, 0.5);

    height: 100%;
    width: 100%;
    top: 0;

    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.modal_overlay.active {
    opacity: 100%;
    visibility: visible;
}

.modal {
    width: 660px;
    height: 413px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    text-align: center;

    background-color: #FFFFFF;

    border-radius: 16px;
}

.modal_image img {
    margin: 30px 30px 20px 30px;
    width: 600px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 15px;
}

.modal_info {
    margin-bottom: 60px;
}

.modal_title {
    font-size: 24px;
    line-height: 28px;
    color: #111111;
}

.modal_author {
    font-size: 18px;
    line-height: 21px;
    color: #777777;
}

.close_modal {
    font-size: 16px;
    line-height: 19px;
    color: #999999;
    cursor: pointer;
}

/* === ABOUT === */

section {
    max-width: 940px;
    margin: 50px auto;
}

.text_container {
    margin-bottom: 30px;
}

.text_title {
    margin-bottom: 20px;
    color: #111111;
}

.text_container h1 {
    font-size: 24px;
    line-height: 28px;
    color: #111111;
}

.text_container h2 {
    font-size: 20px;
    line-height: 24px;
    color: #111111;
}

.text_container p {
    margin-bottom: 30px;
}

.paragraph {
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

/* === RECIPE === */

.recipe_image {
    max-width: 940px;
    margin: 0 auto;
    height: 280px;
    width: 940px;
}

.recipe_image img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.recipe_image .gallery-preview {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: flex-end;
}

.recipe_image .gallery-preview img {
    width: 50px;
    height: 50px;
    opacity: 0.6;

    border-radius: 3.5px;

    cursor: pointer;

    transition: opacity 150ms;
}

.recipe_image .gallery-preview img.active {
    opacity: 1;
}

.recipe_image .gallery-preview img:hover {
    opacity: 1;
}

.lightbox-target {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba( 0,0,0, 0.7 );
    
    overflow: hidden;
    z-index: 100;

    top: -100%;
    left: 0;
    opacity: 0;

    transition: opacity 400ms;
}

.lightbox-target img {
    margin: auto;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: white;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);

    width: 90%;
    height: 90%;

    object-fit: contain;
}

a.lightbox-close {
    width: 50px;
    height: 50px;

    background: white;

    color: var(--primary-color);

    position: absolute;
    top: -80px;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 400ms;
}


.recipe_info, 
.chef_info {
    margin: 50px auto;
    max-width: 940px;
    text-align: center;
}

#recipe_title, 
#chef_name {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #111111;
}

#recipe_author, 
#total_recipes {
    font-size: 20px;
    line-height: 24px;
    color: #777777;
}

.details {
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.detail_container {
    margin-bottom: 40px;
}

.detail_title {
    margin-bottom: 20px;
}

.detail_title h1 {
    font-size: 24px;
    line-height: 28px;
    color: #111111;
    display: inline-block;
    margin-right: 8px;
}

.detail_title a {
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    color: #999999;
    text-decoration: none;
}

.detail_container {
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

.hidden_list {
    display: none;
}

/* === FOOTER === */

footer {
    width: 100%;
    height: 62px;
    background-color: #EEEEEE;
    color: #999999;
    bottom: 0;
    text-align: center;
}

/* === ADMIN === */

.admin_header {
    display: block;
    background-color: #111111;
    width: 100%;
    max-width: none;
    height: 40px;
    margin: 0 0 36px;
    position: relative;
}

.admin_header div {
    max-width: 940px;
    margin: 0 auto;
}

.menu {
    max-width: 940px;
    margin: 40px auto;
    position: relative;
}

.menu h1 {
    display: inline-block;
    font-size: 24px;
    line-height: 28px;
    color: #111111;
}

.menu a {
    right: 0;
    position: absolute;
    text-decoration: none;
    background-color: #6558C3;
    color: #FFFFFF;
    width: 136px;
    height: 37px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    position: absolute;
}

/* === ADMIN CREATE === */

.item {
    margin: 30px auto;
}

.item div:first-child {
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    color: #111111;
    margin-bottom: 10px;
}

.item input {
    width: 100%;
    height: 35px;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    border: 1px solid #DDDDDD;
    padding-left: 20px;
}

.item:last-of-type input {
    height: 257px;
}

.add-ingredient,
.add-step {
    font-size: 16px;
    line-height: 19px;
    color: #6558C3;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
}

.ingredient,
.step {
    width: 100%;
    margin-bottom: 10px;
}

.create-button {
    max-width: 940px;
    margin: 0 auto;
}

.button_delete,
.submit-button,
.create-button a {
    font-size: 14px;
    background-color: #6558C3;
    color: white;
    padding: 8px 8px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.cards-admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 0;
}

.card-admin {
    display: grid;
    grid-template-columns: 172px auto;
    max-width: 470px;
}

.card_image-admin {
    height: 80px;
    width: 172px;
}

.card_image-admin img {
    height: 100%;
    width: 100%;
    border-radius: 8.57px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.card_info-admin {
    margin-left: 20px;
}

.title-index {
    max-width: 940px;
    margin: 50px auto 30px;
}

.title-index h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #111111;
}

.card_title-admin {
    color: #111111;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
}

.card_author-admin {
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    margin-bottom: 10px;
}

.card-button-admin a {
    font-size: 14px;
    line-height: 16px;
    color: #6558C3;
    text-decoration: none;
    font-weight: bold;
}

.button_delete,
.submit-button {
    border: none;
    position: absolute;
    max-height: 37px;
}

.submit-button {
    top: 0;
    right: 0;
}

.button_delete {
    background-color: #DC4747;
    top: 0;
    right: 70px;
    margin-right: 25px;
}

/* CHEF FIELD */

.item #input_chef {
    height: 35px;
}

.links.admin {
    color: #999999;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.links.admin.active {
    color: #FFFFFF
}

.admin_header div {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.admin_header div a {
    top: 0;
    transform: translateY(0);
}

#chef_page {
    max-width: 940px;
    margin: 0 auto;
}

#chef_page h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 28px;
    color: #111111;
}

.chef_avatar img {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 30px;
    object-fit: cover;
}

.cards-admin.chef {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards-admin.chef .card-admin {
    grid-template-columns: 64px auto;
}

.cards-admin.chef .card-admin .card_image-admin {
    height: 64px;
    width: 64px;
}

.cards-admin.chef .card-admin .card_image-admin img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.cards-admin.chef .card-admin .card_info-admin .card_title-admin {
    margin-bottom: 5px;
}

a:link 
{ 
 text-decoration:none;
}

.link_edit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.find {
    display: grid;
    grid-template-columns: 1fr 91px;
    align-items: center;
    gap: 10px;
}

.find input {
    border: solid 1px #eee;
    padding: 4px 8px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 26px;
}

.find button {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
    padding-top: 4px;
    width: 100%;
    background-color: #6558C3;
    color: #FFFFFF;
    border: none;
    line-height: 26px;
}

.container_results {
    max-width: 940px;
    margin: 50px auto 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

/* PHOTOS UPLOAD */

form .item #photos-container {
    display: flex;
    gap: 5px;
}

form .item #photos-upload {
    position: relative;

    display: block;
    overflow: hidden;

    width: 200px;
    height: 37px;
}

form .item #photos-upload.recipes {
    width: 149px;
    height: 149px;
}

form .item #photos-upload p {
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 2px -6px #333;
    background-color: var(--primary-color);
    color: white;

    width: 100%;
    text-align: center;

    font-size: 16px;
    font-family: Roboto, sans-serif;
}

form .item #photos-upload p i {
    font-size: 35px;
    color: #777777;
}

form .item #photos-upload .recipe_images {
    border-radius: 3.5px;
    box-shadow: 0 2px 2px -6px #333;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    border: 1px solid #DDDDDD;

    display: flex;
    align-items: center;
    justify-content: center;
}

form .item input#photos-input {
    position: absolute;
    top: 0;
    left: 0;
    
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;

    padding: 0;

    cursor: pointer;
}

::-webkit-file-upload-button {
    cursor:pointer;
}

form .item #photos-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

form .item #photos-preview .photo {
    width: 149px;
    height: 149px;
    position: relative;
}

form .item #photos-preview .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3.5px;
}

form .item #photos-preview .photo i {
    position: absolute;
    
    width: 100%;
    height: 100%;
    background: rgba(222, 222, 222, 0.85) 100%;
    color: #FF0000;
    font-size: 35px;
    cursor: pointer;
    top: 0;
    left: 0;
    border-radius: 3.5px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 200ms;

    opacity: 0;
}

form .item #photos-preview .photo:hover i {
    opacity: 1;
}