@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    bottom: 0;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

header {
    max-width: 940px;
    display: grid;
    grid-template-columns: 2fr 1fr 6fr;
    margin: 38px auto 36px;
    position: relative;
}

.links {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #111111;
}

.links {
    top: 50%;
    transform: translateY(-50%);
}

/* === MAIN === */

main {
   margin: 30px auto; 
   background-color: #FBDFDB;
   max-width: 940px;
   height: 366px;
   position: relative;
   border-radius: 30px;
   position: relative
}

.main_container {
    max-width: 50%;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute
}

.main_container h1 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 10px
}

.main_container p {
    font-size: 18px;
    line-height: 28px;
    max-width: 400px;
    margin: 0;
}

.main_image img {
    position: absolute;
    bottom: 0;
    right: 100px;
}

/* === SECTION === */

#most_accessed {
    width: 940px;
    font-size: 24px;
    line-height: 28px;
    margin: 0 auto;
}

.cards {
    margin: 50px auto;
    max-width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    cursor: pointer;
}

.card_image img {
    max-width: 300px;
    border-radius: 15px;
}

.card_info {
    margin-top: 20px
}

.card_title {
 font-size: 18px;
 font-weight: 400;
 line-height: 21px;
}

.card_author {
    font-size: 14px;
    font-weight: 16px;

    margin-top: 5px;

    color: #777777;
}

/* === MODAL === */

.modal_overlay {
    background-color: rgba(0, 0, 0, 0.5);

    height: 100%;
    width: 100%;
    top: 0;

    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.modal_overlay.active {
    opacity: 100%;
    visibility: visible;
}

.modal {
    width: 660px;
    height: 413px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    text-align: center;

    background-color: #FFFFFF;

    border-radius: 16px;
}

.modal_image img {
    margin: 30px 30px 20px 30px;
    width: 600px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 15px;
}

.modal_info {
    margin-bottom: 60px;
}

.modal_title {
    font-size: 24px;
    line-height: 28px;
    color: #111111;
}

.modal_author {
    font-size: 18px;
    line-height: 21px;
    color: #777777;
}

.close_modal {
    font-size: 16px;
    line-height: 19px;
    color: #999999;
    cursor: pointer;
}

/* === ABOUT === */

section {
    max-width: 940px;
    margin: 50px auto;
}

.text_container {
    margin-bottom: 30px;
}

.text_title {
    margin-bottom: 20px;
    color: #111111;
}

.text_container h1 {
    font-size: 24px;
    line-height: 28px;
    color: #111111;
}

.text_container h2 {
    font-size: 20px;
    line-height: 24px;
    color: #111111;
}

.text_container p {
    margin-bottom: 30px;
}

.paragraph {
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

/* === RECIPE === */

.recipe_image {
    max-width: 940px;
    margin: 0 auto;
}

.recipe_image img {
    border-radius: 15px;
}

.recipe_info {
    margin: 50px auto;
    max-width: 940px;
    text-align: center;
}

#recipe_title {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #111111;
}

#recipe_author {
    font-size: 20px;
    line-height: 24px;
    color: #777777;
}

.details {
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.detail_container {
    margin-bottom: 40px;
}

.detail_title {
    margin-bottom: 20px;
}

.detail_title h1 {
    font-size: 24px;
    line-height: 28px;
    color: #111111;
    display: inline-block;
    margin-right: 8px;
}

.detail_title a {
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    color: #999999;
    text-decoration: none;
}

.detail_container {
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

.hidden_list {
    display: none;
}

/* === FOOTER === */

footer {
    width: 100%;
    height: 62px;
    background-color: #EEEEEE;
    color: #999999;
    bottom: 0;
    text-align: center;
}

/* === ADMIN === */

.admin_header {
    display: block;
    background-color: #111111;
    width: 100%;
    max-width: none;
    height: 40px;
    margin: 0 0 36px;
    position: relative;
}

.admin_header div {
    max-width: 940px;
    margin: 0 auto;
}

.menu {
    max-width: 940px;
    margin: 40px auto;
    position: relative;
}

.menu h1 {
    display: inline-block;
    font-size: 24px;
    line-height: 28px;
    color: #111111;
}

.menu a {
    right: 0;
    position: absolute;
    text-decoration: none;
    background-color: #6558C3;
    color: #FFFFFF;
    width: 136px;
    height: 37px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    position: absolute;
}

/* === ADMIN CREATE === */

.item {
    margin: 30px auto;
}

.item div:first-child {
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    color: #111111;
    margin-bottom: 10px;
}

.item input {
    width: 100%;
    height: 35px;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    border: 1px solid #DDDDDD;
    padding-left: 20px;
}

.item:last-of-type input {
    height: 257px;
}

.add-ingredient,
.add-step {
    font-size: 16px;
    line-height: 19px;
    color: #6558C3;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
}

.ingredient,
.step {
    width: 100%;
    margin-bottom: 10px;
}

.create-button {
    max-width: 940px;
    margin: 0 auto;
}

.button_delete,
.submit-button,
.create-button a {
    font-size: 14px;
    background-color: #6558C3;
    color: white;
    padding: 8px 8px;
    border-radius: 4px;
    text-decoration: none;
}

.cards-admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 0;
}

.card-admin {
    display: grid;
    grid-template-columns: 172px auto;
    max-width: 470px;
}

.card_image-admin {
    height: 80px;
    width: 172px;
}

.card_image-admin img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8.57px;
}

.card_info-admin {
    margin-left: 20px;
}

.title-index {
    max-width: 940px;
    margin: 50px auto 30px;
}

.title-index h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #111111;
}

.card_title-admin {
    color: #111111;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
}

.card_author-admin {
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    margin-bottom: 10px;
}

.card-button-admin a {
    font-size: 14px;
    line-height: 16px;
    color: #6558C3;
    text-decoration: none;
    font-weight: bold;
}

.button_delete,
.submit-button {
    border: none;
    position: absolute;
    max-height: 37px;
}

.submit-button {
    top: 0;
    right: 0;
}

.button_delete {
    background-color: #DC4747;
    top: 0;
    right: 70px
}